<div class="homePage">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="app/images/marriages.jpg" alt="marriages">
                <div class="carousel-caption">
                    <h3>Marriages</h3>
                    <p>Marriages are fixed in heaven made by us</p>
                </div>
            </div>
            <div class="item">
                <img src="app/images/engagement.jpg" alt="engagement" >
                <div class="carousel-caption">
                    <h3>Engagement</h3>
                    <p>Engagements are first step to get unite</p>
                </div>
            </div>

            <div class="item">
                <img src="app/images/homam.jpg" alt="homam">
                <div class="carousel-caption">
                    <h3>Homas</h3>
                    <p>All type of Homas</p>
                </div>
            </div>

            <div class="item">
                <img src="app/images/houseOpening.jpg" alt="houseopening" >
                <div class="carousel-caption">
                    <h3>House Opening</h3>
                    <p>A new house is a way to  new future</p>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>