<div ng-controller="loginCtrl">
    <div id="loginPage" >
        <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail" class="control-label col-lg-4">Email</label>
            <div class="col-lg-4">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label col-lg-4">Password</label>
            <div class="col-lg-4">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-lg-4">
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
            </div>
        </div>
        <div class="form-group" >
            <div class="col-xs-offset-4 col-xs-4">
                <button type="submit" class="btn btn-primary" ng-click="validate()" >Login</button>
            </div>
        </div>
    </form>
</div>
</div>